/*footer*/
@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  float: right;
}
.wrapper .button {
  display: block;
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 5px;
  overflow: hidden;

  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 170px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: boredr-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button a {
  text-decoration: none;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
}
.wrapper .button:nth-child(1):hover span {
  color: #4267b2;
}
.wrapper .button:nth-child(2):hover span {
  color: #1da1f2;
}
.wrapper .button:nth-child(3):hover span {
  color: #e1306c;
}
.wrapper .button:nth-child(4):hover span {
  color: #333;
}
.wrapper .button:nth-child(5):hover span {
  color: #ff0000;
}

.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
